<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="Test1">
    <classes>
      <class name="com.dzdz.web1ch.tests.FlightCreationTests"/>
      <class name="com.dzdz.web1ch.tests.FlightModificationTests"/>
      <class name="com.dzdz.web1ch.tests.FlightDeletionTests"/>
      <class name="com.dzdz.web1ch.tests.PassengerCreationTests"/>
      <class name="com.dzdz.web1ch.tests.PassengerModificationTests"/>
      <class name="com.dzdz.web1ch.tests.PassengerDeletionTests"/>
    </classes>
  </test>  
</suite>